<phpunit verbose="true" bootstrap="vendor/autoload.php">
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
  </whitelist>
</filter>
  <testsuite name='Interpreter'>
        <file>tests/Interpreter/Context.php</file>
        <file>tests/Interpreter/Reader.php</file>
        <file>tests/Interpreter/Scanner.php</file>
        <file>tests/Interpreter/Parser.php</file>
        <file>tests/Interpreter/Expression.php</file>
        <file>tests/Interpreter/Handler.php</file>
        <file>tests/Interpreter/Language.php</file>
    </testsuite>
</phpunit>
